/* src/components/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  transition: all 0.3s ease;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  margin-top: 3rem;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  text-decoration: none;
}

.sidebar img {
  width: 100%;
  height: auto;
}

/* Light theme styles */
.sidebar.light {
  background-color: #f0f0f0;
  color: #333;
}

.sidebar.light ul li a {
  color: #333;
}

/* Dark theme styles */
.sidebar.dark {
  background-color: #333;
  color: white;
}

.sidebar.dark ul li a {
  color: white;
}

/* Add more dark theme variations as needed */
.sidebar.dark-green {
  background-color: #1b5e20;
  color: white;
}

.sidebar.dark-green ul li a {
  color: white;
}

/* Add other dark mode colors as needed */
