/* src/Footer.css */

.footer {
    text-align: center;
    padding: auto;
    position: absolute;
    width: 100%;
    bottom: 0;
    transition: background-color 0.1s ease, color 0.1s ease;
  }
  
  .footer-light {
    background-color: #f0f0f0;
    color: #333;
  }
  
  .footer-dark {
    background-color: #333;
    color: white;
  }

.footer nav ul {
    list-style-type: none;
    padding: 0;
}

.footer nav ul li {
    display: inline;
    margin: 0 10px;
}

.footer nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
