.card {
  background-color: #e2e2e2;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.card-dark { /* Dark mode style */
  background-color: #555; /* A darker background for dark mode */
  color: white; /* Ensure text is visible on a dark background */
}

.card-light { /* Light mode style */
  background-color: #e2e2e2;
  color: black;
}
